body {font-family:"source-sans-pro", sans-serif; font-size:18px; line-height:1.6em; color: #444; border-top:3px solid #069;}
h1, h2, h3 {font-family:"museo-sans", sans-serif; padding-top:0; margin-top:0;}
h1 {font-size:2.6em; line-height:1.3em; color:#444; text-align:center; }
h2 {color: #444; font-size: 1.4em;}
h3 {text-transform: uppercase; font-size:0.9em;}	
h4 {text-transform: uppercase; font-size:0.76em;}

.small {font-size:0.8em;}
.center {text-align: center;}


a:link, a:hover, a:visited, a:active {color:#069;}
a:link.subtle, a:hover.subtle, a:visited.subtle, a:active.subtle {color:#444;}

/* Site Layout Template */

a:hover.logo {border:20px solid #eee; border-top-style:none; border-bottom-style:none; padding:0 2em 0 2em; border-radius:1em;}

div.content-strip {max-width: 38em; margin: 0 auto;}

#header {padding-top:2em;}
#header-image {display:block; text-align:center;}
#blog-title {text-align:center; font-size:1.8em; line-height:1.8em; padding-top:1em;}
.blog-title {font-size:1.2em;}

#content {padding-top:2em; padding-bottom:5em;}

#navigation {padding-top:1em;}
#navigation a:link, #navigation a:hover, #navigation a:visited, #navigation a:active {color:#08c;}
.navigation-wrapper {background-color:#eee;}
#navigation ul {list-style-type:none; margin-left:0;}
#navigation li {padding-top:0.3em; padding-bottom: 0.3em;}


#footer {text-align:center; font-size:0.8em; line-height:0.8em; padding-top:1em; padding-bottom:1em;}
#footer p {margin:1em 0 1em 0}
.footer-wrapper {background-color:#eee;}

/* Index Template */

#articles {font-size: 1.3em;}
#articles ol {list-style-type:none; margin-left:0;}
#articles li {width:100%; line-height:1.3em; padding-top:0.5em; padding-bottom: 0.5em; border-bottom:solid 1px #cecece;}
#articles .article-title {float: left;}
#articles time {float:right; color:#999; text-transform:uppercase; font-size:0.8em; vertical-align:baseline;}
#articles span {color:#ccc; font-size:0.5em; text-transform:uppercase;}
/*#articles a {overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:22em;}*/

#pagination {padding-top:1em;}


/* Article Template */

.post-details {font-size:0.8em; color:#888; padding-top:0.7em; padding-bottom:1.3em; text-align:center;}

article li {line-height:1.3em; padding-top:0.3em; padding-bottom:0.3em;}
article p {padding:0.5em 0 0.5em 0;}
article table, article th, article td {border: 1px solid #444;}
