<section id="posts">
	<post>
		<header>
			<h1><%= title %></h1>
			<div class="post-details">
				<time><%= date %></time> &bull; 
				<!-- <a href="<%= article.path %>">Permalink</a> &bull; -->
				<a href="javascript:void(0)" onclick="read_later('<%= url %>');">Read Later</a>
			</div>
		</header>
		<%= body %>
	</post>
</section>