body {padding-top:20px; padding-bottom: 40px; font-family:'Helvetica Neue',sans-serif; font-size:18px; line-height:1.61em; color: #444;}
h1, h2, h3 {font-family: 'Helvetica Neue', serif; padding-top:1em; margin-top:0;}
h1 {font-size: 1.8em; color: #444; text-align: center;}
h2 {color: #777; font-size: 1.4em;}
h3 {text-transform: uppercase; font-size:0.9em;}

post li {padding-top:0.3em; padding-bottom:0.3em;}
post img {margin-left:auto; margin-right:auto; display:block; border-radius:5px;}
post .image-footnote {text-align:right; font-size:0.8em; line-height:1.3em; color:#888;}

.golden-ratio-container {margin:0 auto; max-width:34em;}
.post-details {font-size:0.8em; color:#888; padding-top:0.7em; padding-bottom:1.3em; text-align:center;}

/* Header */

.masthead-image {display:block; margin:0 auto;}
.vcenter {vertical-align:middle;}
.css-is-dumb {height:110px; vertical-align:middle; display:inline-block;}
#blog-header a, a:visited {color:#000;}
.blog-title {font-size:1.2em;}
.nav-links {font-size:0.8em; text-align:right;}

/* Sidebar */

<<<<<<< HEAD
.sidebar-nav img {padding-top:1em;}
.sidebar-nav li {list-style-type:none; padding-top:0em; padding-bottom:0em;}
.sidebar-nav ul {margin:0;}
=======
.sidebar-nav li {list-style-type:none; padding-top:0.3em; padding-bottom:0.3em;}
>>>>>>> b40ccab1a167fe8866d90bcfb79961470dbc407e
