body {font-family:"source-sans-pro", sans-serif; font-size: 18px; line-height:1.8em; color:#444;}
h1, h2, h3 {font-family:"museo-sans", sans-serif; padding-top:0; margin-top:0;}
h1 {font-size:2.6em; line-height:1.3em; color:#444;}
h2 {color: #444; font-size: 1.8em;}
h3 {text-transform: uppercase; font-size:1em; margin:0; padding-top:1em; padding-bottom:0.33em;}	
h4 {text-transform: uppercase; font-size:0.76em;}

.small {font-size:0.8em;}
.center {text-align: center;}
.first {padding-top:0; margin-top:0;}

@font-face {
    font-family:'social-media-icons';
    src:url('justvectorv2-webfont.eot');
    src:url('justvectorv2-webfont.eot?#iefix') format('eot'),
        url('justvectorv2-webfont.woff') format('woff'),
        url('justvectorv2-webfont.ttf') format('truetype'),
        url('justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg');
    font-weight:normal;
    font-style:normal;
}
.icon {font-family:"social-media-icons"; padding-right:0.5em;}

a:link, a:hover, a:visited, a:active {color:#069;}
a:link.subtle, a:hover.subtle, a:visited.subtle, a:active.subtle {color:#444;}

/* Site Layout Template */

div.content-strip {max-width: 960px; margin:0 auto;}

#top-nav {background-color:#eee; border-bottom:1px solid #ccc;}

#header {padding:0.5em 0 0.5em 0; border-bottom:1px solid #ccc;}
#header-image {display:block; text-align:center;}
#blog-title {font-size:2em; margin:0;}
#blog-title img {padding-right:1em; margin:10px 0 10px 0;}

#content {padding-top:2em; padding-bottom:5em;}

#pagination .left {width:50%; display:inline;}
#pagination .right {width:50%; float:right; text-align:right;}

#navigation {padding-top:1em;}
#navigation a:link, #navigation a:hover, #navigation a:visited, #navigation a:active {color:#08c;}
.navigation-wrapper {background-color:#eee;}
#navigation ul, #sidebar ul {list-style-type:none; margin-left:0;}
#navigation li, #sidebar li {padding-top:0.3em; padding-bottom: 0.3em;}

#sidebar p {line-height:1.4em; color:#888;}

#footer {text-align:center; font-size:0.8em; line-height:0.8em; padding-top:1em; padding-bottom:1em; background-color:#eee; border-top:solid 1px #cecece}
#footer p {margin:1em 0 1em 0}
.footer-wrapper {background-color:#eee;}

/* Index Template */

#articles {}
#articles ol {list-style-type:none; margin-left:0;}
#articles li {width:100%; line-height:1.3em; padding-top:0.5em; padding-bottom: 0.5em;}

#pagination {padding-top:1em; border-top:1px solid #ccc;}


/* Article Template */

article .details {color:#888; font-size:0.8em; padding-bottom:1em;}
article .details .param {text-transform:uppercase;}

article li {line-height:1.3em; padding-top:0.3em; padding-bottom:0.3em;}
article p {padding:0.5em 0 0.5em 0;}
article table, article th, article td {border: 1px solid #444;}
