<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= @params[:page_title] %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<% if !@config[:google_webmaster].empty? %>
	<meta name="google-site-verification" content="<%= @config[:google_webmaster] %>" />
	<% end %>
	
	<script type="text/javascript" src="//use.typekit.net/xgg5zca.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<link href="<%= @theme.root %>/css/bootstrap.css" rel="stylesheet">
	<link href="<%= @theme.root %>/css/theme.css" rel="stylesheet">
	<link href="<%= @theme.root %>/css/bootstrap-responsive.css" rel="stylesheet">	
	
	<!-- [if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	
	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= @theme.root %>/img/apple-icon-144.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= @theme.root %>/img/apple-icon-114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= @theme.root %>/img/apple-icon-72.png">
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= @theme.root %>/img/apple-icon-57.png">
	<link rel="shortcut icon" href="/images/favicon.png">	
</head>
<body>
	<!-- TOP NAV -->
	<div id="top-nav" class="wrapper">
		<div class="container-fluid content-strip">
			<header>
				<p id="blog-title">
					<a class="logo" href="<%= @theme[:masthead_url] %>"><img src="<%= @theme[:masthead_image] %>" /></a>
					<a href="/" class="subtle"><%= @config[:title] %></a>
				</p>
			</header>
		</div>
	</div>
	
	<!-- HEADER -->
	<div id="header" class="wrapper">
		<div class="container-fluid content-strip">
			<a href="/">Blog</a>
		</div>
	</div>
	
	<!-- CONTENT -->
	<div id="content" class="wrapper">
		<div class="container-fluid content-strip">
			<div class="row-fluid">
			
				<!-- RENDERING TEMPLATE CONTENT -->
				<div class="span8">
					<div class="articles">
						<%= @content %> 
					</div>
				</div>
			
				<!-- SIDEBAR -->
				<div id="sidebar" class="span3 offset1 small">
					<h3 class="first">About</h3>
					<p><%= @theme[:company_description] %></p>
					<h3>Follow us</h3>
					<ul>
						<% if !@config[:twitter_id].empty? %>
						<li>
							<span class="icon">t</span>
							<a href="https://twitter.com/<%= @config[:twitter_id] %>">@<%= @config[:twitter_id] %> on Twitter</a>
						</li>
						<% end %>
						<li>
							<span class="icon">r</span>
							<a href="<%= @config.get_feed_permalink %>">RSS Feed</a>
						</li>
					</ul>
					<h3>Categories</h3>
					<ul>
						<% for @category in @categories %>
						<li>
							<a href="<%= @category[:path] %>"><%= @category[:name] %> (<%= @category[:count] %>)</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- FOOTER -->
	<div id="footer" class="wrapper">
	    <div class="container-fluid content-strip">
			<footer class="row-fluid">
				<p> &copy; 2001-<script>document.write(new Date().getFullYear());</script> &bull;
					All rights reserved &bull;
					Powered by <a class="subtle" href="https://github.com/nbuggia/baron-blog">Baron Blog Engine</a></p>
			</footer>
		</div>
	</div>
		
	<!-- SCRIPTS -->
	<script src="http://code.jquery.com/jquery-1.8.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/image_alt.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/read_later.js" type="text/javascript" charset="utf-8"></script>
	
	<% if !@config[:google_analytics].empty? %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', '<%= @config[:google_analytics] %>']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<% end %>
</body>
</html>